*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
.main {
    background-color: #f5f3f3;
    padding: 30px 30px 30px 80px;
}

#para {
    font-size: 35px;
    font-weight: 500;
    font-family: sans-serif;
    margin-bottom: 50px;
}

.card {
    display: inline-block;
    margin-right: 40px;
}

.card img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#down {
    font-size: 20px;
    text-align: center;
    font-family: sans-serif;
}

.main_2 {
    padding: 30px 30px 30px 80px;
}

.one {
    height: 100px;
    width: 100px;
    margin-left: 40px;
}

#down2 {
    font-size: 20px;
    text-align: center;
    font-family: sans-serif;
}

.fcard img {
    height: 220px;
    border-radius: 5%;
}

.fcard {
    display: inline-block;
    margin: 0px 18px;
}

#para3 {
    font-size: 35px;
    font-weight: 500;
    margin: 40px 0px 20px 100px;
    font-family: sans-serif;
}

.food-box{
    width: 385px;
    background: #fff;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    cursor: pointer;
    transition: 0.3s ease;
    margin: 30px;
    display: inline-block;
    vertical-align: top;
}

.food-box:hover{
    transform: translateY(-4px);
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.food-img{
    position: relative;
    width: 100%;
    height: 250px;
}

.food-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.food-detail{
    padding: 12px;
}

.food-name{
    font-size: 18px;
    font-weight: bold;
}

.food-types{
    font-size: 13px;
    color: #777;
    margin: 3px 0 8px 5px;
}

.price-time{
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    color: #555;
    padding: 5px;
}